body{
    padding-top: 200px;
    background-color: black;
}
p{
    font-family: sans-serif;
    color: rgb(104, 166, 191);
    font-size: 25px;
}
.title{
    width: 60%;
    vertical-align: top;
    display: inline-block;
}
.title h1{
    font-size: 60px;
    color: rgb(104, 166, 191);
    font-family: sans-serif;
}
.title h1 span{
    color: yellow;
}

.image{
    width: 35%;
    display: inline-block;
}
.image img{
    width: 100%;
    border-radius: 50%;
}